<div class="container">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
		<li class="breadcrumb-item"><a href="#"><i class="fa fa-user"></i> Employees manage</a></li>
		<li class="breadcrumb-item active"><span style="color: red;">List of employees</span></li>
	</ol>
	<div class="panel panel-info">
		<div class="panel-heading">Tìm kiếm</div>
		<div class="panel-body">
			<%= form_tag(users_path, method: :get) do %>
				<div class="row">
					<div class="form-group col-md-6">
						<%= label_tag :fullname, "Tên đầy đủ:" %>
						<%= text_field_tag :fullname, params[:fullname], class: "form-control", placeholder: "Fullname" %>
					</div>
					<div class="form-group col-md-6">
						<%= label_tag :email_company, "Email công ty:" %>
						<%= email_field_tag :email_company, params[:email_company], class: "form-control", placeholder: "Email company" %>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6">
						<%= label_tag :birthday, "Ngày sinh:" %>
						<%= date_field_tag :birthday, params[:birthday], class: "form-control", placeholder: "Birthday" %>
					</div>
					<div class="form-group col-md-6">
						<%= label_tag :gender, "Giới tính:" %> <br>
						<%= radio_button_tag :gender, "1" %> Nam
						<%= radio_button_tag :gender, "2" %> Nữ 
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6">
						<%= label_tag :tel, "Số điện thoại:" %>
						<%= telephone_field_tag :tel, params[:tel], class: "form-control", placeholder: "Tel" %>
					</div>
					<div class="form-group col-md-6">
						<%= label_tag :department, "Phòng:" %>
						<%= select_tag :department, options_for_select([['--- Select department ---', ''], 'App', 'Web', 'Difference']), {:class => "form-control"} %>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6">
						<%= label_tag :position, "Vị trí:" %>
						<%= select_tag :position, options_for_select([['--- Select position ---', ''], 'Director', 'Employee', 'Tester', 'Leader']), {:class => 'form-control'} %>
					</div>
					<div class="form-group col-md-6">
						<%= label_tag :user_type, "Kiểu nhân viên:" %>
						<%= select_tag :user_type, options_for_select([['--- Select user type ---', ''], 'Offical', 'Internship', 'Probationary', 'Contract', 'Difference']), {:class => "form-control"} %>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6">
						<%= label_tag :status, "Trạng thái làm việc:" %>
						<%= select_tag :status, options_for_select([['--- Select status ---', ''], 'Joining', 'Exited', 'Absent']), {:class => "form-control"} %>
					</div>
					<div class="form-group col-md-6">
						<%= label_tag :join_datetime, "Ngày bắt đầu làm việc:" %>
						<%= date_field_tag :join_datetime, params[:join_datetime], :class => "form-control", :placeholder => "Join datetime" %>
					</div>
				</div> 
				<div class="row">
					<div class="form-group text-center">
						<%= submit_tag('Reset', {:name => 'reset', :id => 'reset_button', :type => 'reset', :class => 'btn btn-primary'}) %>
						<%= submit_tag 'Search', class: 'btn btn-danger' %>
					</div>
				</div>
			<% end %>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">Danh sách người dùng</div>
		<div class="panel-body">
			<%= link_to '<i class="fa fa-refresh"></i> Reload'.html_safe, users_path, :class => "btn btn-default" %>
			<div class="table-responsive">			
				<table class="table table-bordered table-hover" style="margin-top: 15px;">
					<thead style="background: #53585a; color: #fff;">
						<th>No.</th>
						<th>Tài khoản</th>
						<th width="15%">Tên đầy đủ</th>
						<th>Email công ty</th>
						<th>Số điện thoại</th>
						<th>Giới tính</th>
						<th>Ngày sinh</th>
						<th>Phòng</th>
						<th>Vị trí</th>
						<th>Trạng thái</th>
						<th>Ngày bắt đầu</th>
						<th>Chi tiết</th>
						<th>Xóa</th>
					</thead>
					<tbody>

						<% if @users.empty? %>
							<tr>
								<td colspan="13" class="text-center" style="color:red;"><i class="fa fa-exclamation-triangle"></i> Không có dữ liệu</td>
							</tr>
						<% else %>
						<!-- Loop Each -->
						<% @users.each do |user| %>
							<tr>
								<td><%= user.id %></td>
								<td><%= user.username %></td>
								<td><%= user.fullname %></td>
								<td><%= user.email_company %></td>
								<td><%= user.tel %></td>
								<td><%= user.gender == 1 ? 'Nam' : 'Nữ' %></td>
								<td><%= user.birthday %></td>
								<td><%= user.department %></td>
								<td><%= user.position %></td>
								<td><%= user.status %></td>
								<td><%= user.join_datetime %></td>
								<td><%= link_to '<i class="fa fa-info-circle"></i>'.html_safe, user_path(user), :class => "btn btn-sm btn-primary" %></td>
								<td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, user_path(user), :class => "btn btn-sm btn-danger", method: :delete, :data => {:confirm => "Bạn chắc chắn?"} %></td>
							</tr>
						<% end %>
						<% end %>

					</tbody>
				</table>
			</div>

			<!-- Pagination -->
			<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</div>	





			