<div class="container">
	<div class="row">	
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
			<li class="breadcrumb-item"><a href="#"><i class="fa fa-user"></i> Employees manage</a></li>
			<li class="breadcrumb-item active"><span style="color: red;">Add new employee</span></li>
		</ol>
		<div class="panel panel-info">
			<div class="panel-heading">Thêm người dùng mới</div>
			<div class="panel-body">
				<%= form_for :user, url: users_path do |f| %>
					<div class="row">
						<div class="form-group col-md-6">
							<%= f.label :username, "Tài khoản:" %>
							<%= f.text_field :username, :class => "form-control", :placeholder => "Username" %>
						</div>

						<div class="form-group col-md-6">
							<%= f.label :fullname, "Tên đầy đủ:" %>
							<%= f.text_field :fullname, :class => "form-control", :placeholder => "Fullname" %>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-6">
							<%= f.label :password, "Mật khẩu:" %>
							<%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
						</div>

						<div class="form-group col-md-6">
							<%= f.label :password_confirmation, "Xác nhận mật khẩu:" %>
							<%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Password confirmation" %>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-6">
							<%= f.label :email_company, "Email công ty:" %>
							<%= f.email_field :email_company, :class => "form-control", :placeholder => "Email company" %>
						</div>

						<div class="form-group col-md-6">
							<%= f.label :email_personal, "Email cá nhân:" %>
							<%= f.email_field :email_personal, :class => "form-control", :placeholder => "Email personal" %>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-6">
							<%= f.label :tel, "Số điện thoại:" %>
							<%= f.telephone_field :tel, :class => "form-control", :placeholder => "Tel" %>
						</div>

						<div class="form-group col-md-6">
							<%= f.label :gender, "Giới tính:" %> <br>
							<%= f.radio_button :gender, "1" %> Nam
							<%= f.radio_button :gender, "2" %> Nữ 
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-6">
							<%= f.label :birthday, "Ngày sinh:" %>
							<%= f.date_field :birthday, :class => "form-control", :placeholder => "Birthday" %>
						</div>

						<div class="form-group col-md-6">
							<%= f.label :image, "Ảnh đại diện:" %>
							<%= f.file_field :birthday, :class => "form-control", :placeholder => "Image" %>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-6">
							<%= f.label :department, "Phòng:" %>
							<%= f.select :department, [['--- Select department ---', ''], 'App', 'Web', 'Difference'],{}, {:class => "form-control"} %>
						</div>

						<div class="form-group col-md-6">
							<%= f.label :position, "Vị trí:" %>
							<%= f.select :position, [['--- Select position ---', ''], 'Director', 'Employee', 'Tester', 'Leader'], {}, {:class => 'form-control'} %>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-6">
							<%= f.label :skill, "Kỹ năng:" %>
							<%= f.text_field :skill, :class => "form-control", :placeholder => "Skill" %>
						</div>

						<div class="form-group col-md-6">
							<%= f.label :literacy, "Trình độ học vấn:" %>
							<%= f.text_field :literacy, :class => "form-control", :placeholder => "Literacy" %>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-6">
							<%= f.label :contract_type, "Loại hợp đồng:" %>
							<%= f.select :contract_type, [['--- Select contract type ---', ''], '3 months', '6 months', '1 year', '2 years', '3 years', '5 years', 'Duration', 'Forever'], {}, {:class => "form-control"} %>
						</div>

						<div class="form-group col-md-6">
							<%= f.label :status, "Trạng thái làm việc:" %>
							<%= f.select :status, [['--- Select status ---', ''], 'Joining', 'Exited', 'Absent'], {}, {:class => "form-control"} %>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-6">
							<%= f.label :user_type, "Kiểu nhân viên:" %>
							<%= f.select :user_type, [['--- Select user type ---', ''], 'Offical', 'Internship', 'Probationary', 'Contract', 'Difference'], {}, {:class => "form-control"} %>
						</div>

						<div class="form-group col-md-6">
							<%= f.label :join_datetime, "Ngày bắt đầu làm việc:" %>
							<%= f.date_field :join_datetime, :class => "form-control", :placeholder => "Join datetime" %>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<%= f.label :address, "Địa chỉ:" %>
							<%= f.text_field :address, :class => "form-control", :placeholder => "Address" %>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-6">
							<%= f.label :bank_account, "Tài khoản ngân hàng:" %>
							<%= f.text_field :bank_account, :class => "form-control", :placeholder => "Bank account" %>
						</div>

						<div class="form-group col-md-6">
							<%= f.label :id_number, "Số chứng minh thư:" %>
							<%= f.text_field :id_number, :class => "form-control", :placeholder => "Id number" %>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<%= f.label :description, "Mô tả:" %>
							<%= f.text_area :description, :class => "form-control", :placeholder => "Description", rows: 10 %>
						</div>
					</div>

					<%= f.hidden_field :del_flag, :value => '0' %>

					<div class="row">
						<div class="form-group text-center">
							<%= f.submit "Save", class: "btn btn-danger" %>
							<%= link_to "Cancel", new_user_path, :class => "btn btn-default" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>